<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{%static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
    {% include "main/includes/nav.html" %}
    <div class="row justify-content-center" style="background-color: #E0F7FA;">
        <div class="container-fluid ml-1">
            <br>
            <h2 class="col-12 display-4 text-center" style="font-weight: bold;overflow: hidden;">Contact Me</h2>
            <br>
            <h5 class="text-center" style="font-weight: normal;">If you wanna get in touch, talk to me about a project
                collaboration or just say hi,
                fill up the awesome form below or you can reach out to me on:</h5>
            <br>
            <div class="row justify-content-center">
                <a href="mailto:siddverma1999@gmail.com" target="_blank" class="mr-2 btn btn-dark">Email</a>
                <a class="mr-2 btn btn-dark" href="tel:+918860986398">Phone</a>
                <a class="mr-2 btn btn-dark" href="https://wa.me/918860986398">WhatsApp</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <br>
    <div class="container">
        <h1 style="font-weight: bolder;">Let's Get In Touch</h1>
        {% if success %}
        <p style="color: green;">{{success}}</p>
        {% else %}
        <p>Have a cool idea for a collaboration or do you want to hire me?</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button class="btn btn-dark ">Submit</button>
        </form>
        <br>

    </div>
    <br>
    <br>
</body>

</html>


<style>
    * {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
</style>