<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>
    {% include "main/includes/nav.html" %}
    <div class="row text-left" style="background-color: #E0F7FA;">
        <div class="container-fluid ml-1">
            <br>
            <h5 class="col-12">From r/quotes</h5>
            <h3  style="font-weight: bold ;" class="col-6">{{quote}}</h3>
            <br>
        </div>

    </div>
    <br>
    <div class="container-fluid ml-1">
        <h1 style="font-weight: bolder;">About Me</h1>

    </div>

</body>

</html>

<style>
    * {
        font-family: 'Montserrat', sans-serif;
        overflow: hidden;
    }
</style>