<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    {% include "main/includes/nav.html" %}
    <div class="row justify-content-center" style="background-color: #E0F7FA;">
        <div class="container-fluid ml-1 col-12">
            <br>
            <h2 class="col-12 display-4 text-center" style="font-weight: bold; overflow: hidden">Projects</h2>
            <br>
            <h5 class="container text-center">I just enjoy working on something new and interesting, <br>to learn a
                particular
                skill or just to have fun playing around with new technolgies.<br> Here are some of the recent projects
                I
                have worked on.<br> Some of these are personal projects, while some are for some hackathon or an event.
            </h5>
            <br>
        </div>
    </div>
</body>

</html>


<style>
    * {
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }
</style>