<html>

<body>

    <div class="row" style="background-color: #E0F7FA;">
        <div class="container-fluid ml-1">
            <br>
            <h2 class="display-4 text-center" style="font-weight: bold; overflow-y: hidden;">Hi, I am Siddhartha</h2>
            <br>
            <div class="row justify-content-center">
                <button href="#" class="col-1 text-center btn btn-dark">Get in Touch</button>
            </div>
            <br>
            <div>
                <h5 class="col-12">From r/quotes</h5>
                <h3 style="font-weight: bold ;" class="col-12">{{quote}}</h3>
            </div>
            <br>
        </div>
    </div>
    <br>
    <div class="container-fluid ml-1">
        <h1 style="font-weight: bolder;">About Me</h1>
        <p class="text-left-lg text-center-md">
            Hi, my name is Siddhartha Varma. I am a CS undergrad at Vellore Institute of Technology, class of '22. I am
            a web developer and a designer. I am a <a href="https://www.djangoproject.com/">Django</a> developer, and
            I'm currenlty learning <a href="https://flutter.dev/">Flutter</a> and Machine
            Learining with Python.
        </p>
    </div>

</body>

</html>